{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '../static/css/style2.css' %}">

  <title>Document</title>
</head>
<body style="background-color: #FF5631">

  <div class="nav-bar">
    <nav>

    </nav>

  </div>
  <div class="container">
      <div class="hero-container">
        <div class="text-block-hero">
          <h2 class="hero">Summer Blasts</h2>
          <p class="hero-p">Get close up seats for your favorite artists</p>
          <btn class="hero-btn">sign-up</btn>
          <img width="400px" height="400px" src="{% static '/assets/images/pexels-sebastian-ervi-1763075.jpg' %}" alt="" class="hero-img"/> 

        </div>
        

      </div>

    </div>

  </div>
</body>
</html>